<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KiwiViewer</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tarball File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.tgz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tiff Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GZip File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.gz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.jpg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BZip2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.bz2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ZIP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.zip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vti</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BYU File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.byu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Multi Block File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Poly Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK Unstructured Grid File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Point Cloud Library Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.pcd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Kiwi Scene File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.kiwi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PLY File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.ply</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OBJ File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.obj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Geometry File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.g</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>STL File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.stl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nrrd Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.nrrd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MetaImage File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.mha</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>kiwi_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Protein Data Bank File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.pdb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>app_icon_iphone.png</string>
				<string>app_icon_iphone@2x.png</string>
				<string>app_icon_ipad.png</string>
				<string>app_icon_ipad@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.kitware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KiwiViewer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>app_icon_ipad</string>
			<key>CFBundleURLName</key>
			<string>com.kitware.kiwiviewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kiwiviewer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-mvxunpo9apj1z6b</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2013022101</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tarball File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.tgz</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>tgz</string>
				<key>public.mime-type</key>
				<string>tgz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tiff Image File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.tiff</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>tiff</string>
				<key>public.mime-type</key>
				<string>tiff</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GZip File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.gz</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>gz</string>
				<key>public.mime-type</key>
				<string>gz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JPEG File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.jpg</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>jpg</string>
				<key>public.mime-type</key>
				<string>jpg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BZip2 File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.bz2</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>bz2</string>
				<key>public.mime-type</key>
				<string>bz2</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ZIP File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.zip</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>zip</string>
				<key>public.mime-type</key>
				<string>zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK Image File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vti</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vti</string>
				<key>public.mime-type</key>
				<string>vti</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtk</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtk</string>
				<key>public.mime-type</key>
				<string>vtk</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BYU File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.byu</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>byu</string>
				<key>public.mime-type</key>
				<string>byu</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK Multi Block File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtm</string>
				<key>public.mime-type</key>
				<string>vtm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK Poly Data File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtp</string>
				<key>public.mime-type</key>
				<string>vtp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK Unstructured Grid File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtu</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtu</string>
				<key>public.mime-type</key>
				<string>vtu</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Point Cloud Library Data File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.pcd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>pcd</string>
				<key>public.mime-type</key>
				<string>pcd</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kiwi Scene File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.kiwi</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>kiwi</string>
				<key>public.mime-type</key>
				<string>kiwi</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PLY File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.ply</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>ply</string>
				<key>public.mime-type</key>
				<string>ply</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PNG File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.png</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>png</string>
				<key>public.mime-type</key>
				<string>png</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OBJ File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.obj</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>obj</string>
				<key>public.mime-type</key>
				<string>obj</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Geometry File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.g</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>g</string>
				<key>public.mime-type</key>
				<string>g</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STL File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.stl</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>stl</string>
				<key>public.mime-type</key>
				<string>stl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nrrd Image File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.nrrd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>nrrd</string>
				<key>public.mime-type</key>
				<string>nrrd</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MetaImage File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.mha</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>mha</string>
				<key>public.mime-type</key>
				<string>mha</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Protein Data Bank File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.pdb</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>kiwi_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>pdb</string>
				<key>public.mime-type</key>
				<string>pdb</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
